.nav-bar {
  height: 64px;
  background-color: #212121;
  width: 100%;
  position: fixed;
}

.nav-title {
  padding: 15px;
}
.pop-movies-label {
  width: 288px;
  height: 29px;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.dots {
  color: white;
}